* {
    font-family: arial,sans-serif;
    font-size: 14px;
}
body {

}
#head1 {
    display: flex;
    flex-flow: row none;
    justify-content: flex-start;
}

#head2 {
    display: flex;
    flex-flow: row none;
    justify-content: flex-end;
}
.left-side-head {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    padding: 15px;
}
.right-side-head {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    padding: 15px;
}
.left-side-head:hover {
    text-decoration: underline;
}
.right-side-head:hover {
    text-decoration: underline;
}
#mid-section {

}
#google-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
    height: 100px;
}
#search {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 530px;
    height: 35px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}
#search-button {
    opacity: 0.75;
    background-color: #f2f2f2;
}
#feeling-lucky {
    opacity: 0.75;
    background-color: #f2f2f2;
}
#form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
}
#bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 40px;
}
#nav-bar {
    width: 100%;
    background-color: #f2f2f2;
    border-top: 1px solid #D0D0D0;
}
.left-side-nav {
    text-decoration: none;
    color: #000;
    padding: 15px;
    opacity: 0.75;
}
.right-side-nav {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    padding: 15px;
}
.left-side-nav:hover {
    text-decoration: underline;
}
.right-side-nav:hover  {
    text-decoration: underline;
}