* {
    font-family: arial,sans-serif;
}
body {

}
#head1 {

}

#head2 {

}
.left-side-head {
    text-decoration: none;
    color: #000;
}
.right-side-head {
    text-decoration: none;
    color: #000;
}
.left-side-head:hover {
    text-decoration: underline;
}
.right-side-head:hover {
    text-decoration: underline;
}
#mid-section {

}
#google-img {

}
#form {

}
#bottom-nav {

}
#nav-bar {

}
.left-side-nav {
    text-decoration: none;
    color: #000;

}
.right-side-nav {
    text-decoration: none;
    color: #000;
}
.left-side-nav:hover {
    text-decoration: underline;
}
.right-side-nav:hover  {
    text-decoration: underline;
}